<div class="side-nav-element">
  <h1>Perseverance Image Explorer</h1>
  <p>Colorize and display images from the Mars 2020 Perseverance rover.</p>
  <p>
    This web application talks to the <a href="https://mars.nasa.gov/mars2020/multimedia/raw-images/">NASA raw images API</a>
    to detect the red, green and blue components of an image and perform demosaicing / debayering in the browser.</p>
</div>

<mat-divider></mat-divider>

<div class="side-nav-element" style="display: flex; flex-direction: column; align-items: center;">
  <label for="resolutionSlider">Image Resolution</label>
  <mat-slider id="resolutionSlider" thumbLabel [displayWith]="ImageResolutionToString" tickInterval="1" min="1" max="4" step="1"
              (change)="resolutionSliderChange($event)" [value]="imageService.selectedResolution"></mat-slider>
</div>

<mat-divider></mat-divider>

<div class="side-nav-footer">
  <div *ngIf="isLoading" class="side-nav-element" style="display: flex; justify-content: center; align-items: center;">
    <mat-spinner diameter="30" color="accent"></mat-spinner>
    <span style="font-size: 1em; margin-left: 1em;">
      Loading in progress...
    </span>
  </div>

  <mat-divider></mat-divider>

  <div class="side-nav-element">
    <a class="no-color-link" href="https://github.com/mickmis/perseverance-image-explorer">
      <fa-icon [icon]="faGithub" size="3x"></fa-icon>
    </a>
  </div>
</div>
