<!--<mat-divider></mat-divider>-->
<!--<mat-nav-list id="routing-nav-list">-->
<!--  <mat-list-item>-->
<!--    <a routerLink="/colorize" routerLinkActive="routing-nav-link-active">Colorize</a>-->
<!--  </mat-list-item>-->

<!--  <mat-list-item>-->
<!--    <a routerLink="/explore" routerLinkActive="routing-nav-link-active">Explore</a>-->
<!--  </mat-list-item>-->
<!--</mat-nav-list>-->
<!--<mat-divider></mat-divider>-->

<div class="side-nav-element">
  <p>
    This web application talks to the <a href="https://mars.nasa.gov/mars2020/multimedia/raw-images/">NASA raw images API</a>
    to explore, export and colorize the images taken by the Perseverance rover on Mars.
  </p>
</div>

<mat-divider></mat-divider>

<div class="side-nav-element center-flex" style="flex-direction: column;">
  <label for="resolutionSlider">Image Resolution</label>
  <mat-slider id="resolutionSlider" thumbLabel [displayWith]="ImageResolutionToString" tickInterval="1" min="1" max="4" step="1"
              (change)="resolutionSliderChange($event)" [value]="imageService.selectedResolution"></mat-slider>
</div>

<mat-divider></mat-divider>

<div class="side-nav-footer">
  <div *ngIf="isLoading" class="side-nav-element center-flex">
    <mat-spinner diameter="30" color="accent"></mat-spinner>
    <span style="font-size: 1em; margin-left: 1em;">
      Loading in progress...
    </span>
  </div>

  <mat-divider></mat-divider>

  <div class="side-nav-element">
    <a class="side-nav-footer-icon" href="https://github.com/mickmis/perseverance-image-explorer">
      <fa-icon [icon]="faGithub" size="3x"></fa-icon>
    </a>
    <a class="side-nav-footer-icon" href="https://twitter.com/Miscul">
      <fa-icon [icon]="faTwitter" size="3x"></fa-icon>
    </a>
  </div>
</div>
