<mat-tab-group [(selectedIndex)]="selectedTabIdx" (selectedIndexChange)="selectedTabChange($event)"
               dynamicHeight animationDuration="0ms" mat-align-tabs="start">

  <mat-tab *ngFor="let cam of AllCams; let idx = index" label="{{cam.name}}">
    <ng-template matTabContent>

      <div class="images-panel" *ngIf="idx === selectedTabIdx">
        <mat-expansion-panel hideToggle (opened)="loadImage(colImg)" *ngFor="let colImg of loadColorizableImages(cam)|async" #panel>
          <mat-expansion-panel-header collapsedHeight="250px">
            <mat-panel-title style="display: flex; align-items: center;">
              {{metadataService.parseMarsTime(colImg.red.date_taken_mars)}} (colorized)
            </mat-panel-title>

            <mat-panel-description style="display: flex; align-items: center; justify-content: space-around;">
              <span>{{colImg.red.title}}</span>
              <img *ngIf="!panel.expanded" style="border: 1px solid rgba(255,255,255,.7); border-radius: 5%;"
                   alt="Thumbnail of {{colImg.red.imageid}}" height="240px" src="{{colImg.red.image_files.small}}" />
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <figure>
              <img alt="{{colImg.id}}" class="colorized-image" src="{{colImg.colorizedDataUrl}}" />
              <figcaption style="text-align: center;">{{colImg.red.title}}</figcaption>
            </figure>
            <p>
              Image colorized from
              <a class="no-color-link" href="{{colImg.red.image_files.full_res}}">red</a>,
              <a class="no-color-link" href="{{colImg.green.image_files.full_res}}">green</a> and
              <a class="no-color-link" href="{{colImg.blue.image_files.full_res}}">blue</a>.
            </p>
            <!-- todo: use this for download or other stuff
            <mat-action-row>
              <button mat-button color="accent" (click)="nextStep()">Download</button>
            </mat-action-row>
            -->
          </ng-template>
        </mat-expansion-panel>
      </div>

      <div *ngIf="displayDebug" style="padding: 1em;">
        <img id="debug-test-img" />
        <p *ngFor="let met of loadImagesMetadata(cam)|async" style="font-family: monospace;">
          <a class="no-color-link" href="{{met.image_files.full_res}}">{{met.imageid}}</a> -
          {{met.camera.camera_position}} - {{met.camera.camera_vector}}
        </p>
      </div>

    </ng-template>
  </mat-tab>

</mat-tab-group>
