<mat-tab-group [(selectedIndex)]="selectedTabIdx" (selectedIndexChange)="selectedTabChange($event)"
               dynamicHeight animationDuration="0ms" mat-align-tabs="start">

  <mat-tab *ngFor="let cam of AllCams; let idx = index" label="{{cam.name}}">
    <ng-template matTabContent>

      <div class="images-panel" *ngIf="idx === selectedTabIdx">
        <mat-expansion-panel hideToggle (opened)="loadImage(colImg)" *ngFor="let colImg of loadColorizableImages(cam)|async" #panel>

          <mat-expansion-panel-header collapsedHeight="250px">
            <mat-panel-title style="display: flex; align-items: center;">
              {{metadataService.parseMarsTime(colImg.refImage.date_taken_mars)}}
              <span *ngIf="colImg.type === 'RGB'">&nbsp;(RGB combined)</span>
              <span *ngIf="colImg.type === 'E'">&nbsp;(demosaiced)</span>
            </mat-panel-title>

            <mat-panel-description style="display: flex; align-items: center; justify-content: space-around;">
              <span>{{colImg.refImage.title}}</span>
              <img *ngIf="!panel.expanded" class="images-thumbnails" alt="Thumbnail of {{colImg.refImage.imageid}}" src="{{colImg.refImage.image_files.small}}" />
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <figure>
              <img alt="{{colImg.id}}" class="colorized-image" src="{{colImg.colorizedDataUrl}}" />
              <figcaption style="text-align: center;">{{colImg.refImage.title}}</figcaption>
            </figure>

            <p *ngIf="colImg.type === 'RGB'">
              Image colorized from
              <a href="{{colImg.red.image_files.full_res}}">red</a>,
              <a href="{{colImg.green.image_files.full_res}}">green</a> and
              <a href="{{colImg.blue.image_files.full_res}}">blue</a>.
            </p>
            <p *ngIf="colImg.type === 'E'"><a href="{{colImg.singleImage.image_files.full_res}}">Source image</a>.</p>

            <mat-action-row>
              <button [disabled]="colImg.colorizedResolution === imageService.selectedResolution" mat-button color="accent" (click)="loadImage(colImg)">Recompute</button>
              <button mat-button color="accent" (click)="downloadImage(colImg)">Download</button>
            </mat-action-row>
          </ng-template>

        </mat-expansion-panel>
      </div>

      <div *ngIf="displayDebug" style="padding: 1em;">
        <img id="debug-test-img" />
        <p *ngFor="let met of loadImagesMetadata(cam)|async" style="font-family: monospace;">
          <a class="no-color-link" href="{{met.image_files.full_res}}">{{met.imageid}}</a> -
          {{met.camera.camera_position}} - {{met.camera.camera_vector}}
        </p>
      </div>

    </ng-template>
  </mat-tab>

</mat-tab-group>
