@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

a:link {
  color: white;
}

a:visited {
  color: white;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
